@model IEnumerable<TransportManagement.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center;
    margin-top: 70px;
    padding-top: 20px;">
    Vehicle List
</h1>
<style>
    <button type="button" class="btn btn-outline-success" > Success</button >
    <button type="button" class="btn btn-outline-info" > Info</button >
    <button type="button" class="btn btn-outline-danger" > Danger</button >
    <button type="button" class="btn btn-light" > Light</button >
</style>

<p style="margin-left: 1100px;">
    <a asp-action="Create" class="btn btn-light">Create New Vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operable)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.VehicleId"class="btn btn-outline-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VehicleId" class="btn btn-outline-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VehicleId" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
